extends layout

block content
    div
        h1 DEMO
        p.
          Merged Prefix List (DEMO)
    div
        table(class="table table-striped")
          thead
            tr
              th Prefix
              th Base URL
          tbody
            each p in prefixes
              tr
                td= p.prefix
                td
                  each url in p.base_urls
                    a(href="#{url}")= url

